# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.rexxy'
'name': 'Rexxy'
'fileTypes': [
  'rgx',
  'rms'
]
'patterns': [
  {
    'match': '#.*$'
    'name': 'comment'
  }
  {
    'comment': 'Match strings '
    'begin': '[@]{0,1}(")'
    'end': '([^\\\\])(")'
    'name': 'string'
  }
  {
    'comment': 'Function names'
    'match': 'GROUP|VARCHAR|ANY|REPEAT'
    'name': 'entity.name.function'
  }
  {
    'comment': 'Function'
    'match': 'OPTIONAL|OR||MORE|START|END|INLINE'
    'name': 'entity.name.keyword'
  }
  {
    'comment': 'Define all constants'
    'match': '[0-9]|\\*|\\+|\\?'
    'name': 'constant'
  }

]
