{% extends "header.html" %}
{% block title %}RMS{% endblock %}

{% block content %}

<body cz-shortcut-listen="true">

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right navbar-sticky-top" id="sidebar-wrapper" style="position:fixed">
        <div class="sidebar-heading">API Documentation </div>
        <div class="list-group list-group-flush">
            <a href="#Overview" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#2" class="list-group-item list-group-item-action bg-light">test</a>
            <a href="#2" class="list-group-item list-group-item-action bg-light">test2</a>

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" data-spy="scroll" data-target="#sidebar-wrapper" data-offset="50" >

        <div class="container-fluid">
            <h1 class="mt-4">API Documentation</h1>
            <p>This is the API documentation about RMS. Very little for now...</p>
        </div>
    <!-- /#page-content-wrapper -->

    <div class="bg-dark" style="height:10000px">
    </div>


  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>




</body>

{% endblock %}
